        :root {
            --card-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            --hover-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        template {
            background-color: white;
            color: black;
            line-height: 1.6;
        }

        .admin-container {
            color:black;
            line-height: 1.6;
            display: flex;
            min-height: 100vh;
            position: relative;

        }


        .sidebar {
            width: 20%;
            left: -230px;
            position: fixed;
            height: 100%;
            transition: left 0.3s ease;
            color: black;
            padding: 20px 0;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            z-index: 100;
            border: 1px solid transparent;
            border-radius: 10px;

        }

        .sidebar:hover{
            background: gray ;
            left:0px;
        }


        .logo {
            padding: 0 20px 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            margin-bottom: 20px;
        }

        .logo h1 {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
        }

        .logo i {
            margin-right: 10px;
            font-size: 1.8rem;
        }

        .menu {
            list-style: none;
        }

        .menu li {
            margin-bottom: 5px;
        }

        .menu a {
            display: flex;
            align-items: center;
            padding: 12px 20px;
            color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            transition: all 0.3s;
        }

        .menu a:hover, .menu a.active {
            color: white;
            border-left: 4px solid var(--success);
        }

        .menu i {
            margin-right: 10px;
            font-size: 1.2rem;
        }
        .main-content{
            float: right;
            width: 80%;
            margin-left: 20%;


        }
        .form{
           
            border: solid black 1px;
            border-radius: 10px;
            width: 80%;
            height:90%;
            padding:40px;
            box-shadow: 0 5px 15 px rgba(0, 0, 0, 0.1);
            margin: 5% 10%;
            
            text-align: center;

        }

