.home {
  display: grid;
  align-items: center;
}
.section-header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 60px;
}

.section-header h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 8px;
}

.section-subtitle {
  color: #666;
  font-size: 1rem;
  margin-bottom: 24px;
}
